body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: #030301;
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 2.5rem;
  color: #FFFFF3;
}

h1 .highlight {
  color: #C589E8;
  font-weight: bold;
}

h2 {
  font-family: 'Caudex', serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background_photo_desktop.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Caudex', serif;
  font-weight: 500;
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track{
  border: 7px solid #fff;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(
    45deg, #C589E8, #7EE8FA
  );
  border-radius: 3px;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}